.message-compo{
    height: 20px;
    width: 25%;
    bottom: 0px;
    display: flex;
    padding: 5px;
    justify-content: space-around;
}
.message-compo input{
    width: 90%;
    height: 30px;
    margin-right: 10px;
}
.message-compo button{
    background: green;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: white;
}